
/* Filtering buttons */
.otopsi-filters{
 margin: 1.8em 0 1.6em 0; 
}

.otopsi-filters button{
  border-radius: 0;
  color: rgb(73, 73, 73);
  background-color: white;
  padding: 0.5em 1em;
  border: none;
  margin-right: 0.3em;margin-bottom: 0.6em;
  text-transform: uppercase;
  font-size: 0.9em;
  transition: background-color 0.5s;
}

.otopsi-filters button:focus{
  outline:none;
}

.otopsi-filters button:hover, .otopsi-filters button.is-checked{
  background-color: rgb(255, 232, 0);
}


/* Style for each items */
.otopsi-container .item{
  font-family: Domine, Georgia, serif;
  border-bottom: 1px solid grey;
  margin-bottom: 2.2em;
  padding-bottom: 0.6em;
}

.otopsi-container .the_image{
  opacity:1;
  transition: opacity 0.5s;
}

.otopsi-container .the_image:hover{
  opacity:0.8;
}

.otopsi-container .the_title{
   margin-bottom: 0.2em; 
}

.otopsi-container a{
  text-decoration: none !important;
}

.otopsi-container .the_date{
 font-weight:bold;
 display:block;
}

.otopsi-container p{
  display:inline;
}

.otopsi-container .morelink-icon{
    font-size: 0;
    display:inline;
}

.otopsi-container .morelink-icon:after{
  content:'»';
  vertical-align: text-bottom;
}


/* Responsive column count */
.otopsi-container .item, .grid-sizer{
  width:100%;
}

.otopsi-container .gutter-sizer{
  width:0;
}

@media screen and (min-width: 680px){
   .otopsi-container .item, .grid-sizer{
    width:49%;
  }

  .otopsi-container .gutter-sizer{
    width:2%;
  }
}

@media screen and (min-width: 1260px){
  
  .otopsi-container .item, .grid-sizer{
    width:30%;
  }

  .otopsi-container .gutter-sizer{
    width:5%;
  }

}


