/* Filtering buttons */
.otopsi-filters{
 margin: 1.8em 0 1.6em 0; 
}

.otopsi-filters button{
  border-radius: 0;
  color: rgb(73, 73, 73);
  background-color: white;
  padding: 0.5em 1em;
  border: none;
  margin-right: 0.3em;margin-bottom: 0.6em;
  text-transform: uppercase;
  font-size: 0.9em;
  transition: background-color 0.5s;
}

.otopsi-filters button:focus{
  outline:none;
}

.otopsi-filters button:hover, .otopsi-filters button.is-checked{
  background-color: rgb(255, 232, 0);
}


/* Responsive column count */
.otopsi-container .item, .grid-sizer{
  width:100%;
}

.otopsi-container .gutter-sizer{
  width:0;
}

@media screen and (min-width: 680px){
   .otopsi-container .item, .grid-sizer{
    width:49%;
  }

  .otopsi-container .gutter-sizer{
    width:2%;
  }
}

@media screen and (min-width: 1260px){
  
  .otopsi-container .item, .grid-sizer{
    width:30%;
  }

  .otopsi-container .gutter-sizer{
    width:5%;
  }

}

