/*
 * CSS rules for the OTOPSI plugin shortcode admin page.
 */

.blue{
	color:#00b9eb;
}

.error{
    background-color: #FFA9A9;
    padding: 10px;
}

table.block{
	margin-bottom:50px;
}

.otopsi_show_if_enabled th,.otopsi_show_if_enabled td{
	padding-left:1em;
}

.otopsi_show_if_enabled  .sort-option{
	display: block;
	width:17em;
	margin: 5px 0;
	text-align:left;
	padding:5px;
	background-color:#00b9eb;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-weight:bold;
}

.otopsi_show_if_enabled  .sort-option.off{
	opacity:0.7;
 background-color:#CACACA;
 font-weight:normal;
}

.otopsi_show_if_enabled  .sort-option span{
	color:#FFF;
 float:right;
}

otopsi_show_if_enabled  .sort-option span:hover{
	cursor: pointer;
}


.otopsi_show_if_enabled  .sort-option.off .off{
 color:#000000;
}

.otopsi_show_if_enabled  .sort-option.ASC .ascending{
 color:#000000;
}

.otopsi_show_if_enabled  .sort-option.DESC .descending{
 color:#000000;
}



textarea.editor{
	font-family: Consolas,Monaco,monospace;
	font-size: 13px;
	width: 97%;
	background: #f9f9f9;
	outline: 0;
}

.filter-chkbox + span{
	visibility:hidden;
}

.filter-chkbox:checked + span{
	visibility:visible;
}

.layout-mode:before{
	content:'';
	background: url('../../../../wp-admin/images/spinner.gif') no-repeat;
	height: 20px;
	width: 20px;
	display: inline-block;
	vertical-align: middle;
	margin-right:10px;
 font-family: dashicons;
 text-align:center;
 font-size:1.6em;
}

.layout-mode.installed:before{
	background: none;
	content:"\f529";
	}

.layout-mode.download:before{
	background: none;
	content:"\f316";
}

.layout-mode span.note{
	font-size:0.6em;
	color:grey;
}
